html {
    position: relative;
    min-height: 100%;
}

body {

    /*background: #8e9eab; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #8e9eab, #eef2f3); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #8e9eab, #eef2f3); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background: #f7ce40;*/
    /*background: lavender;*/

    background: whitesmoke;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(245, 245, 245, 0.91);
    /*display: table-row;*/

}

#footer_form_wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -1%;
    background: whitesmoke;
    box-shadow: none;
    border: none;
    border-top: 1px solid #e7dad5;

}

div.ribbon {
    position: relative;
}

.ui.segment {
    margin: 0 0;
}

/*.ui.piled.segment.animated.bounceInDown {*/
/*margin: 0 auto;*/
/*margin-bottom: 5%;*/
/*width: 350px;*/
/*}*/

i.icon.reddit.alien:before {
    color: #b5b3b3;
}

.outer_message_box {
    clear: both;
    margin-bottom: 5%;
}

.inner_message_box {
    width: 100%;
}

.inner_message_box_username {
    font-weight: bold;
    font-size: 1.2em;
    color: aqua;
}

.message_box_label {
    float: left;
}

.recognize-user {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    /*width    : 505px;*/
    width: 100%;

    z-index: 1000;
    opacity: 0.8;
}

/*#triggerUserAvatarDropDown{*/
/*position: absolute;*/
/*top: 0;*/
/*}*/
.item {
    font-size: 1.3em;
}

.ui.bottom.attached.tab.segment {
    background: none;
    border: none;
}

.menu.transition {
    /*transform: rotate(-90deg);*/
    top: 0;
}

.menu.transition.visible {
    top: -150px;
    left: 0;
}

.ui.dropdown .menu > .item {
    /*transform: rotate(90deg);*/
}

.desktop-header {
    display: none;
}

#preloader {
    /*position: fixed;*/
    z-index: 1000;

}

button#whisperStop {
    /*display: none;*/
    height: 55px;
}

button#submit {
    width: 100%;
    height: 55px;
    margin-top: 1%;
}

button#clearmessages {
    height: 55px;
}

button#whisper_button {
    display: none;
    width: 14%;
    height: 55px;
}

.desktop-header {
    margin-bottom: 3%;
}

.ui.form .fields .field:last-child {
    width: 100%;
}

.field {
    margin: 0 auto;
    width: 100%;
}

.ui.search.dropdown .menu {
    /*max-height: 0;*/
}

#ChatName {
    width: 100%;
    height: 50px;
    margin-bottom: 1%;
    width: 100%;
}

ul.drop {
    line-height: 3;
    padding: 0;
    margin-bottom: -26px;
}

.user_name_field {
    width: 100%;
}

.ui.corner.label i.asterisk.icon {
    color: rgba(255, 132, 144, 0.99);
}

ul.username {
    min-width: 105px;
    height: 128px;
    padding: 0px;
    word-break: break-all;
    overflow: scroll;
}

ul.drop .user {
    margin-right: 1%;
    width: 32%;
}

ul.drop li {
    display: inline-table;
    /*margin-right : 5%;*/
    margin-left: 1%;
}

ul.drop li .whoisonline, ul.drop li .whisperToLi {
    list-style: none;
    display: block;
    margin-top: 5%;
    color: #808080;
}

.li-avatar {
    margin-bottom: 1%;
}

.ui.fluid.selection.dropdown {
    height: 56px;
}

.ui.form textarea, .ui.textarea {
    margin: 0;
    margin-bottom: 1%;
    width: 100%;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    /* padding: .78571em 1em; */
    background: #fff;
    border: 1px solid rgba(39, 41, 43, .15);
    outline: 0;
    color: rgba(0, 0, 0, .8);
    border-radius: .2857rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
    transition: background-color .2s ease, color .2s ease, box-shadow .2s ease, border-color .2s ease;
    font-size: 1em;
    height: 0em;
    min-height: 4em;
    max-height: 24em;
    line-height: 1.2857;
    resize: vertical;
}

/*.wrap {*/
/*width  : 100%;*/
/*margin : 2% auto;*/
/*}*/

.ui.comments.messages {
    margin: 0 auto;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
}

.ui.tertiary.segment {
    -webkit-box-shadow: 1px 1px 50px 1px grey;
    -moz-box-shadow: 1px 1px 50px 1px grey;
    box-shadow: 1px 1px 50px 1px grey;
    width: 100%;
    height: 100%;
    background: rgb(245, 245, 245);

}

.ui.comments .comment {
    margin: .5em 0 0.7em;
}

.message-segment-footer {
    height: 170px;
    width: 100%;
    /*border: 1px solid;*/
}

.row {
    margin: 0 auto;
    width: 100%;
    /*min-height : 500px;*/
}

.Sim {
    border-radius: 5px;
    min-height: 70px;
    padding: 3%;
    background: white;
    color: #1b1b1b;
    min-width: 100px;
}

.avatarsm {
    width: 20px;
    float: left;
}

.avatarlarge {
    width: 50px;
    /*float : left;*/
}

textarea[placeholder] {
    /*font-size: 1.1em;*/
}

#textareaBox {
    width: 100%;
    margin-bottom: 1%;
}

.whisperSelection {
    display: none;
}

.whisper {
    /*margin-left : 5%;*/
    /*margin-top  : 2%;*/
    /*background  : #808080;*/
    /*color       : #FFF;*/
    /*box-shadow  : inset 0 0 5px rgba(000, 000, 000, 0.5);*/

    min-width: 105px;
    height: 128px;
    padding: 0;
    word-break: break-all;
    overflow: scroll;
    cursor: pointer;

}

#whisperTo {
    /*display: none;*/
}

.whisperTo {
    width: 100%;
}

.whisperTo:hover {
    background: lightblue;
}

/*.whisperNow, .whisperStop {*/
/*width : 100%;*/
/*}*/

@media only screen and ( min-width: 710px ) {

    /*.recognize-user {*/
    /*width: 505px;*/
    /*}*/
    button#whisper_button {
        width: 23%;
        height: 55px;
    }

    .ui.form .fields .field:last-child {
        /*width: 71%;*/
        margin: 0 auto;
    }

    .ui.blue.button {
        width: 89%;
    }

    .desktop-header {
        display: block;
    }

    .ui.tertiary.segment {
        width: 50%;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .ui.piled.segment.animated.bounceInDown {
        margin: 0 auto;
        margin-bottom: 5%;
        width: 550px;
    }

    .inner_message_box {
        width: 50%;
    }

    #footer_form_wrapper {
        width: 50%;
        margin: 0 auto;
        margin-bottom: -1%;
    }

    #preloader {
        z-index: 1000;

    }

    /*.whisper {*/
    /*margin-left : 5%;*/
    /*margin-top  : 2%;*/
    /*background  : #cdced3;*/
    /*color       : #FFF;*/
    /*padding     : 5%;*/
    /*box-shadow  : inset 0 0 5px rgba(000, 000, 000, 0.5);*/
    /*}*/

}
