body {
    background: url("../img/bg1_mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-size       : 1.3em;*/
    /*background: #26daaa;*/
    /*background-attachment:#f7ce40;*/
}

#container {
    width: 100%;
    font-size: 1.45em;
}

/*.accordion{background: none}*/
/*.ui.styled.accordion .accordion .title, .ui.styled.accordion .title{color: white}*/

#register_wrapper {
    background: none;
    box-shadow: none;
}

#register_box {
    width: 100%;
    margin: 0 auto;
    background: rgba(233, 210, 207, 0.48);
    text-align: center;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    color: #000;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title:hover {
    color: #fff;
}

#joinRoom_inner_box {
    width: 100%;
    text-align: center;
    background-color: rgba(224, 123, 83, 0.52) !important;
    border-radius: 10px;
    font-size: 0.7em;
    /*font-weight: 900;*/
    margin-bottom: 2%;
}

#lockerIcon {
    color: #e13c4f;
}

#goToRoom {
    width: 100%;
    height: 50px;
    font-size: 0.9em;
    font-weight: 900;
}

#createRoom_inner_box {
    text-align: left;
    background: rgba(27, 28, 29, 0.11);
    border-radius: 10px;

}

#createRoomAndVisitBox {
    display: none;
}

input#newRandomCode {
    font-size: 0.9em;
    /*color : orange;*/
    /*border : none;*/
    width: 100%;
    /*height : 30px;*/
}

input#code {
    width: 100%;
    margin-bottom: 1%;
}

a.ribbon img {
    width: 100px;
}

/*** BUTTONS / LABELS ***/
#toBeVerified {
    color: grey;
}

.alert1 {
    /*text-align: center;*/
    width: 100%;
    margin-bottom: 1%;
    /*height: 35px;*/
    /*font-size: 0.7em;*/
    /*text-align: center;*/
}

#createRoom, #toBeVerified, #verifyCodeUrl, #newRandomUrl {
    width: 100%;
    height: 51px;
    /*line-height: inherit;*/
    font-size: 1em;
}

#newRandomUrl {
    color: lightgray;
}

#toBeVerified {
    /*height : 30px;*/
}

/* RULES HEADER */
.rule1 {
    color: #5080B5;
}

/*.rule2,.rule3.rule4{*/
/*color: white;*/
/*}*/

@media (min-width: 720px) {

    body {
        background: url("../img/bg1.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /*font-size       : 1.5em;*/
        /*background: #26daaa;*/
        /*background: #f7ce40;*/

    }

    ul.my_list {
        float: left;
        margin-left: 5%
    }

    li {
        list-style: none
    }

    #register_wrapper {
        width: 415px;
    }

    .clearIt {
        clear: both;
    }

    #container {
        margin: 0 auto;
        width: 55%;
    }

    #joinRoom_inner_box {
        font-size: 0.9em;
    }

    /*.alert1 {*/
        /*font-size: 0.9em;*/
    /*}*/

    input#newRandomCode {
        /*color : green;*/
        /*border : none;*/
        /*width : 95%;*/
        /*height : 30px;*/
    }

    input#code {
        width: 100%;
    }

    #lockerIcon {
        /*float: right;*/
        font-size: 1.5em;
        /*line-height: inherit;*/
    }

}
